{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authentication</title>
    <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/globalStyles.css' %}" >
    <link rel="stylesheet" href="{% static 'styles/dashboardStyles.css' %}" >
    <link rel="stylesheet" href="{% static 'styles/authStyles.css' %}" >
    </head>
<body>
    <div class="full-height d-flex">
        <div class="row w-100">
            <div class="container-large col-md-8 full-height d-flex align-items-start light-bg">
                <div class="dark-blue-text">
                    <div class="d-flex flex-row justify-content-between">
                        <div>
                            <h2 class="medium-blue-text">Log In</h2>
                        </div>
                        <div>
                            <a class="btn-lg mode draw blue-bg" href="{% url 'portfolio:index' %}"><span class="light-grey-text spaced">back</span></a>
                        </div>
                    </div>
                    <div>
                        <form class="site-form" action="{% url 'authentication:login' %}" method="POST">
                            {% csrf_token %}
                            {% for field in form.visible_fields %}
                                <div>
                                    {{ field.label_tag }}
                                    <div>
                                        {{ field }}
                                    </div>
                                </div>
                            {% endfor %}
                            {% if request.GET.next %}
                                <input type="hidden" name="next" value="{{ request.GET.next }}">
                            {% endif %}
                            <div class="d-flex justify-content-between">
                                <button id="submit-button" class="btn mode draw dark-bg commit submit" type="submit">
                                    <span class="light-grey-text">Log In</span>
                                </button>
                                <div id="auth-feedback" class="d-flex align-items-center">
                                    <div>
                                        {{ feedback }}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container-large col-md-4 dark-bg">
                <h2 class="light-grey-text">
                    Can't wait to see new things you will bring to this page..
                </h2>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>