{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ info.title }}</title>
    <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/globalStyles.css' %}" >
    <link rel="stylesheet" href="{% static 'styles/indexStyles.css' %}" >
</head>
<body>
    <div class="full-height d-flex">
        <div class="row">
            <div class="container-large col-lg-9 dark-bg light-grey-text full-height d-flex flex-col justify-content-between">
                <div id="info-container">
                    <div>
                        <h1 class="light-blue-text">{{ info.name }}</h1>
                    </div>
                    <div id="description">
                        <h3>{{ info.description }}</h3>
                    </div>
                </div>
                <div id="contact-container">
                    <div id="contact-links" class="line-wrapped">
                        <a href="{{ info.linkedin }}">
                            <img
                                src="{% static 'icons/linkedin.svg' %}"
                                alt="LinkedIn"
                                class="link-icon"
                            />
                        </a>
                        <a href="mailto: {{ info.email }}">
                            <img
                                src="{% static 'icons/email.svg' %}"
                                alt="Email"
                                class="link-icon"
                            />
                        </a>
                        <a href="tel:{{ info.phone_number }}">
                            <img
                                src="{% static 'icons/phone.svg' %}"
                                alt="Phone"
                                class="link-icon"
                            />
                        </a>
                    </div>
                </div>
            </div>
            <div class="container-small col-lg-3 light-bg full-height">
                <div class="text-right dark-blue-text">
                    <h2 class="section-title">Projects</h2>
                </div>
                {% for project in projects %}
                    <div>
                        {% if project.url %}
                            <a href="{{ project.url }}" class="medium-blue-text"><h4>{{ project.name }}</h4></a>
                        {% else %}
                            <a href="#" class="medium-blue-text"><h4>{{ project.name }}</h4></a>
                        {% endif %}
                        <h6 class="dark-grey-text">{{ project.description }}</h6>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="btn-lg mode draw blue-bg">
        <a href="{% url 'cms:dashboard' %}"><span class="light-grey-text spaced">edit</span></a>
    </div>
</body>
</html>