body {
    font-family: 'Avenir LT Std 35 Medium';
	margin: 0;
	padding: 0;
	max-width: 100vw;
	background-color: #000011;
}

.form-control {
    display: inline-block;
    padding: 10px;
    height: auto;
}

#dahsboard-head {
    margin-bottom: 100px;
}

label {
    margin: auto;
    margin-top: 10px;
}

.mode {
    position: relative;
    margin: 0;
}

.save {
    margin-bottom: 0;
}