@font-face {
    font-family: 'Avenir LT Std 35 Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 35 Medium'),
        url('../fonts/AvenirLTStd-Medium.woff') format('woff');
}

/* Text Sizes */

h1 { font-size: 3.5em; }

h2 { font-size: 2em; }

h3 { font-size: 1.5em; }

h4 { font-size: 1.2em; }

h5 { font-size: 1em; }

h6 { font-size: 0.8em; }

/* Colors */

.dark-bg {
	background-color: #000011;
}

.light-bg {
	background-color: #e6e6e6;
}

.blue-bg {
	background-color: #172A45;
}

.red-bg {
	background-color: #4c0000;
}

.light-blue-text {
	color: #9EA8C7;
}

.medium-blue-text {
    color: #172A45;
}

.dark-grey-text {
	color: #3E4456;
}

.dark-blue-text {
	color: #000011;
}

.light-grey-text {
	color: #e6e6e6;
}

/* Weights */

.bold {
	font-weight: bold;
}

.bolder {
	font-weight: bolder;
}

a:hover {
    text-decoration: none;
}

/* Mode button */


.mode {
	display: inline-block;
	margin-top: 1em;
	margin-bottom: 1.5em;
	border-radius: 0;
	color: #000011;
	font-size: inherit;
}

.mode::before, .mode::after {
	box-sizing: inherit;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
}

.draw {
	-webkit-transition: color 0.25s;
	transition: color 0.25s;
	z-index: 5;
}
.draw::before, .draw::after {
	border: 2px solid transparent;
	width: 0;
	height: 0;
}
.draw::before {
	top: 0;
	left: 0;
}
.draw::after {
	bottom: 0;
	right: 0;
}
.draw:hover {
	color: #9EA8C7;
}
.draw:hover::before, .draw:hover::after {
	width: 100%;
	height: 100%;
	z-index: -1;
}
.draw:hover::before {
	border-top-color: #9EA8C7;
	border-right-color: #9EA8C7;
	-webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
	transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
	border-bottom-color: #9EA8C7;
	border-left-color: #9EA8C7;
	-webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
	transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.spaced {
	letter-spacing: 1px;
}

/* Positioning */

.float-left {
	float: left;
}

.float-right {
	float: right;
}

/* Helper */

.spacer {
	min-height: 25px;
	min-width: 100%;
}

.section-title {
    margin-top: 10px;
}

/* Layout */

.full-height {
    min-height: 100vh;
}

.container-large {
    padding: 7vw;
}

.container-small {
	padding: 2vw;
	padding-top: 5vh;
}

@media (max-width: 750px) {

	body {
		font-size: 0.9em;
	}

    h1 { font-size: 2.5em; }

	h2 { font-size: 2em; }

	h3 { font-size: 1.2em; }

	h4 { font-size: 1.1em; }

	h5 { font-size: 1em; }

	h6 { font-size: 0.8em; }

	.container-large {
		padding: 10vw;
	}
	
	.container-small {
		padding: 10vw;
	}

	.section-title {
        margin-top: 10px;
    }
}
