@font-face {
    font-family: 'Avenir LT Std 35 Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 35 Medium'),
        url('../fonts/AvenirLTStd-Medium.woff') format('woff');
}

body {
    font-family: 'Avenir LT Std 35 Medium';
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-overflow-style: none;
	overflow-y: scroll;
    overflow-x: hidden;
	max-width: 100%;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
	background-color: #000011;
}

body::-webkit-scrollbar { 
    width: 0 !important;
    height: 0 !important;
}

/* Text Sizes */

h1 { font-size: 3.5em; }

h2 { font-size: 2em; }

h3 { font-size: 1.5em; }

h4 { font-size: 1.2em; }

h5 { font-size: 1em; }

h6 { font-size: 0.8em; }

/* Colors */

.dark-bg {
	background-color: #000011;
}

.light-bg {
	background-color: #e6e6e6;
}

.blue-bg {
	background-color: #172A45;
}

.light-blue-text {
	color: #9EA8C7;
}

.medium-blue-text {
    color: #172A45;
}

.dark-grey-text {
	color: #3E4456;
}

.dark-blue-text {
	color: #000011;
}

.light-grey-text {
	color: #e6e6e6;
}

/* Weights */

.bold {
	font-weight: bold;
}

.bolder {
	font-weight: bolder;
}

/* Layout */

.full-height {
    min-height: 100vh;
}

.container-large {
    padding: 5em;
}

.container-small {
    padding: 2em;
}

a:hover {
    text-decoration: none;
}

/* Mode button */


.mode {
	display: inline-block;
	margin-top: 1em;
	margin-bottom: 1.5em;
	border-radius: 0;
	color: #000011;
	font-size: inherit;
	position: fixed;
	bottom: 2em;
	left: 4em;
}

.mode::before, .mode::after {
	box-sizing: inherit;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
}

.draw {
	-webkit-transition: color 0.25s;
	transition: color 0.25s;
	z-index: 5;
}
.draw::before, .draw::after {
	border: 2px solid transparent;
	width: 0;
	height: 0;
}
.draw::before {
	top: 0;
	left: 0;
}
.draw::after {
	bottom: 0;
	right: 0;
}
.draw:hover {
	color: #9EA8C7;
}
.draw:hover::before, .draw:hover::after {
	width: 100%;
	height: 100%;
	z-index: -1;
}
.draw:hover::before {
	border-top-color: #9EA8C7;
	border-right-color: #9EA8C7;
	-webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
	transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
	border-bottom-color: #9EA8C7;
	border-left-color: #9EA8C7;
	-webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
	transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
