body {
    font-family: 'Avenir LT Std 35 Medium';
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-overflow-style: none;
	overflow-y: scroll;
    overflow-x: hidden;
	max-width: 100vw;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
	background-color: #000011;
}

body::-webkit-scrollbar { 
    width: 0 !important;
    height: 0 !important;
}

.line-wrapped {
	overflow: hidden;
	text-align: center;
	pointer-events: visible;
}

.line-wrapped:hover:before,
.line-wrapped:hover:after {
	transform: scale(1, 1);
	transition-duration: 1s;	
}

.line-wrapped:before,
.line-wrapped:after {
	background-color: #3E4456;
	content: "";
	display: inline-block;
	height: 1px;
	vertical-align: middle;
	width: 40%;
	transform: scale(0.25, 1);
}

.line-wrapped:before {
	right: 0.5em;
	margin-left: -50%;
	transform-origin: 100% 50%;
}

.line-wrapped:after {
	left: 0.5em;
	margin-right: -50%;
	transform-origin: 0% 50%;
}

.line-wrapped:hover > .line-wrapped:after {
	height:2px;
}

.logo {
    width:46px; 
    margin-top:5px; 
}

#description {
    margin-top: 5vh;
    margin-bottom: 10vh;
    text-align: justify;
}

#contact-links {
    margin-bottom: 5vh;
}

.mode {
	position: fixed;
	bottom: 5vh;
	left: 6vw;
}

@media (max-width: 750px) {
	.mode {
		position: fixed;
		bottom: 3vw;
		left: 5vw;
	}
}