{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ info.title }} Dashboard</title>
    <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/globalStyles.css' %}" >
    <link rel="stylesheet" href="{% static 'styles/dashboardStyles.css' %}" >
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'scripts/info/updateInfo.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/project/createProject.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/project/updateProject.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/project/deleteProject.js' %}"></script>
</head>
<body>
    <div class="container-large full-height d-flex light-bg light-grey-text">
        <div class="dark-blue-text w-100">
            <div id="information" class="d-flex flex-row justify-content-between">
                <div>
                    <h1>Dashboard</h1>
                </div>
                <div>
                    <li>
                        <form class="logout-link" action="{% url 'authentication:logout' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit">Log Out</button>
                        </form>
                    </li>
                </div>
                <div>
                    <div class="btn-lg mode draw blue-bg">
                        <a href="{% url 'portfolio:index' %}"><span class="light-grey-text spaced">home</span></a>
                    </div>
                </div>
            </div>
            <div>
                <h2 class="medium-blue-text section-title">Personal Information</h2>
                <form class="site-form" action="" method="PUT" id="info-form">
                    {% csrf_token %}
                    {{ info_form }}
                    <div class="d-flex flex-row-reverse">
                        <button id="submit-button" class="btn mode draw blue-bg commit" onclick="updateInfo()">
                            <span class="light-grey-text">Save</span>
                        </button>
                    </div>
                </form>
            </div>
            <div id="projects">
                <h2 class="medium-blue-text section-title">Projects</h2>
                {% for form in project_form %}
                    {% if not forloop.first %}
                        <div class="spacer"></div>
                    {% endif %}
                    {% if not forloop.last %}
                        <div id="project-{{ form.instance.id }}">
                            <form class="site-form" action="" method="PUT" id="project-form-{{ form.instance.id }}">
                                {% csrf_token %}
                                {{ form }}
                                <div class="d-flex flex-row-reverse">
                                    <button id="submit-button" class="btn mode draw blue-bg commit" onclick="updateProject({{ form.instance.id }})">
                                        <span class="light-grey-text">Save</span>
                                    </button>
                                    <button id="submit-button" class="btn mode draw red-bg commit" onclick="deleteProject({{ form.instance.id }})">
                                        <span class="light-grey-text">Delete</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    {% else %}
                        <div>
                            <h3 class="medium-blue-text">Add New Project</h3>
                            <form class="site-form" action="" method="POST" id="project-form-new">
                                {% csrf_token %}
                                {{ form }}
                                <div class="float-right">
                                    <button id="submit-button" class="btn mode draw blue-bg commit">
                                        <span class="light-grey-text" onclick="createProject()">Add</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="modal fade" id="response-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title medium-blue-text">Update Status</h4>
                </div>
                <div class="modal-body">
                    <p id="update-status"></p>
                </div>
                <div class="modal-footer light-grey-text">
                    <a href="{% url 'portfolio:index' %}" class="btn btn-default light-grey-text blue-bg commit">Home</a>
                    <a class="btn btn-default red-bg commit" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>